
<%= form_with(model: @luggage, local: true) do |form| %>
  <% if @luggage.errors.any? %>
    <div id="error_explanation">
      <h2><%= @luggage.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @luggage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%#= form.label :name, '名前' %>
  <%= form.text_field :name, placeholder: '名前' %>

  <%#= form.label :number, '数' %>
  <%= form.text_field :number, placeholder: '必要数' %>

  <%#= form.label :status, '状態' %>
  <%= form.text_field :status, placeholder: '状態' %>

  <div>
    <%= form.submit '保存' %>
  </div>
<% end %>
